<html>
	<head>
		{% load static %}
	</head>
<style>
input {
    display: block;
    height: 70px;
    width: 100%;
	background-color: violet;
	border: none;
    padding: 0 10px;
    margin-top: 275px;
    font-size: 14px;
    font-weight: 300;
}
button {
	margin-top: 10px;
	width: 90px;
	margin-left: 15px;
}

form{
	width:200px;
	margin-left:10px
}
label{
	position: relative;
	top:250px;
}
</style>
	<body background = "{% static '/images/background.jpg' %}">
		<center>
		</center>
	</body>
</html>
