<html>
	<head>
		{% load static %}
	</head>
<style>
input {
    display: block;
    height: 50px;
    width: 100%;
	background-color: violet;
	border: none;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
</style>
	<body background = "{% static '/images/background.jpg' %}">
		<center>
			<table width = '100%'>
				<tr>
					<td>
						<font size = '6'></font>
					</td>
					<td align = 'right' valign = 'middle'>
						<table>
							<tr>
								<td valign = 'middle'>
									<form action = '/view_files' method = 'post'>
										{% csrf_token %}
										<input type = 'submit' value = 'Show files'>
									</form>
								</td>
								<td valign = 'middle'>
									<!-- will need this for broken authentication -->
									<form action = '/user_config' method = 'get'>
										<input type = 'submit' value = 'Settings'>
									</form>
								</td>
								<td valign = 'middle'>
									<form action = '/logout' method = 'post'>
										<input type = 'submit' value = 'Logout'>
									</form>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td>
						<form action = '/upload_file' method = 'post' enctype = "multipart/form-data">
							{% csrf_token %}
							<input type = 'file' name = 'foo' value = 'Load Files' multiple required>
							<!-- <button type="submit" value="Submit">Upload</button> -->
						</form>
					</td>
					<td>
					</td>
				</tr>
				<br>
					<tr>
						<td>
							<!-- <font color = 'red' size = '7'><%= file %></font> -->
						</td>
<!-- 						<td>
							<form action = '/delete_file' method = 'post'>
								<input type = 'hidden' name = 'delete_file' value = '<%= file %>'>
								<input type = 'submit' value = 'Delete this File'>
							</form>
						</td> -->
					</tr>
			</table>
		</center>
	</body>
</html>
