<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link rel = "stylesheet" href = "{% static 'login.css' %}">
	</head>
	<style>
		.main-form{
			height: 320px !important;
		}
	</style>
	<body background = "{% static '/images/background.jpg' %}">
		<div id="tsparticles"></div>
		<div class="main-form">
			<h3>Reset Password</h3>
		
			<label for="email">Email</label>
			<input type = 'email' name = 'email' placeholder = 'Enter Email' required>

			<form action = '/reset' method = 'post'>
				<input type = 'submit' value = 'Reset' class="reset-button">
			</form>

			<div>
				<% if (error == 1) { %>
					<font color = 'red' size = '4'>Email not Found.</font>
				<% } else if (check == 2) { %>
					<font color = 'red' size = '4'>Password sent to your email.</font>
				<% } %>
			</div>
		</div>			
		</form>
	</body>
</html>
